[Unit]
Description=No-IP Dynamic DNS Update Client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/noip-duc
ExecStart=/usr/sbin/noip-duc
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
